<template>
    <div>
        <h1>Agrega un item</h1>
        <form v-on:submit="addItem">
            <div class="form-group">
                <input type="text" v-model="item.name" placeholder="Agregar un nombre">
            </div>
            <div class="form-group">
                <input type="text" v-model="item.price" placeholder="Agregar un precio">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Agregar Item</button>
            </div>
        </form>
    </div>  
</template> 

<script>
    export default{
        data(){
            return{
                item:{}
            }
        },
        methods:{
            addItem(){

            }
        }
    }
</script>

<style>
    
</style>