<template>
    <div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Price</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</template> 

<script>
    export default{
        data(){
            return{
                Items: []
            }
        },
        created(){
            this.obtenerItems();
        },
        methods:{
            obtenerItems(){
                const URI = '/items';
                this.axios.get('/item').then(res=>console.log(res)).catch(err=>console.log(err));
            }
        }
    }
</script>

<style>
    
</style>