<template>
    <div>
        <h1>Vue Funcionando</h1>
        <router-link :to="{ name: 'CreateItem' }" class="btn btn-primary">
            crear item
        </router-link>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template> 

<script>
    export default{

    }
</script>

<style>
    
</style>